{% load static %}

<!DOCTYPE html>
<html class="mx-5 mb-0">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'draw/style.css' %}" />

    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

</head>
<body class="bg-secondary">
  <h1 class="m-5 p-5 text-center border border-dark rounded bg-warning">Caravan</h1>
  <div class="container-flex">
    <div class="row">
      <div class="col">
        <h2 class="py-5 text-center border border-dark rounded bg-warning">Recommendations!</h2>

      <div class="container-flex">
        <div class="row no-gutters">
          <div class="col flex-column" id=first>
            <div class="sticky-note">OK</div>
            <div class="sticky-note">i kinda went sicko mode</div>
            <div class="sticky-note">sorry</div>
            <div class="sticky-note">that mb</div>
          </div>
        </div>
      </div>

      </div>
      <div class="col">
        <h2 class="py-5 text-center border border-dark rounded bg-warning">How was your experience?</h2>

        <div class="container-flex">
          <div class="row no-gutters">
            <div class="col flex-column" id=second>
              <div class="sticky-note">but hey</div>
              <div class="sticky-note">it works</div>
              <div class="sticky-note">it looks ok</div>
              <div class="sticky-note">no?</div>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <h2 class="py-5 text-center border border-dark rounded bg-warning">Anything you want!</h2>

        <div class="container-flex">
          <div class="row no-gutters">
            <div class="col flex-column" id=third>
              <div class="sticky-note">i know</div>
              <div class="sticky-note">the amount of bootstrap</div>
              <div class="sticky-note">hard to read</div>
              <div class="sticky-note">just msg me</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
<script>

  var socket = new WebSocket(
      'ws://' + window.location.host + '/ws/draw');
  
  //is called everytime message is received
  socket.onmessage = function(receivedMessage) {
    console.log(receivedMessage)
    var received = JSON.parse(receivedMessage.data);
    console.log(received);
    
    console.log("socket receiving");

    if (received.type == "text") {
        var sticky_note = document.createElement("div");
        sticky_note.classList.add("sticky-note");
        var message = document.createTextNode(received.text);
        sticky_note.appendChild(message);
        var element;
        if (received.option == 1) {
            element = document.getElementById("first");
        } else if (received.option == 2) {
            element = document.getElementById("second");
        } else {
            element = document.getElementById("third");
        }
        element.appendChild(sticky_note);
    }
  }

  socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };

</script>
</html>
