{% load static %}

<!DOCTYPE html>
<html class="mx-5 mb-0">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'draw/style.css' %}" />

    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

</head>
<body class="bg-secondary">
  <h1 class="mt-3 p-3 text-center border border-dark rounded bg-warning title caveat">Caravan</h1>

  <form onsubmit="submitText()" class="mb-4">
    <div class="form-group">
      <label for="msg"><h3>Add a sticky note!</h3></label>
      <div class="form-group">
        <label for="textOption">What type of submission are you making?</label>
        <select class="form-control" id="textOption">
          <option value=1>Recommendations for others!</option>
          <option value=2>Tell us about your experience!</option>
          <option value=3>Write anything at all!</option>
        </select>
      </div>
      <textarea class="form-control" id="msg" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary mb-2">Submit</button>
  </form>

  <form onsubmit="submitImage()">
    <div class="form-group">
      <!-- <label for="customFile"><h3>Share an image!</h3></label>
      <input class="d-block" type="file" id="customFile" accept="image/*"> -->
      <label for="src"><h3>Share an image!</h3></label>
      <input class="form-control mt-3" type="text" id="src" placeholder="Put in image link here"></input>
      <input class="form-control mt-3" type="text" id="caption" placeholder="Add a caption!"></input>
    </div>
    <button type="submit" class="btn btn-secondary mb-2">Submit</button>
  </form>
</body>

</body>
<script>
  var searchParams = new URLSearchParams(window.location.search);
  var noteList = new Map();

  var socket = new WebSocket(
      'ws://' + window.location.host + '/ws/draw');

  function submitText() {
    var text = {
      "type": "text",
      "text": document.getElementById("msg").value,
      "option": document.getElementById("textOption").value
    };
    socket.send(JSON.stringify(text));
  }

  //I have determined that this shit doesnt work for some reason
  //idk why
  //the problem is simply that it doesnt run when you hit the image submit button
  //its wack
  function submitImage() {
    // var fileList = document.getElementById('input').files;
    // var fileList = document.getElementById('customFile').files;
    // if (fileList.length > 0) {

    //   var selectedFile = fileList[0];

    //   var srcData = "";
    //   var reader = new FileReader();
    //   reader.onload = function (fileLoadedEvent) {
    //     srcData = fileLoadedEvent.target.result;
    //   }
    //   reader.readAsDataURL(selectedFile);

    //   var image = {
    //     "type": "image",
    //     "text": document.getElementById("caption").value,
    //     "src": document.getElementById("src").value
    //   };

    //   socket.send(JSON.stringify(image));
    // }

    var image = {
      "type": "image",
      "text": document.getElementById("caption").value,
      "src": document.getElementById("src").value
    };

    socket.send(JSON.stringify(image));
  }


  socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };

</script>
</html>
